<h1>Upcomming Concerts</h1>

<div class="dead_parrots">
  <h1> The dead parrots </h1>
  <h2> The great stadium </h2>
  <h2> Tuesday 8:00 PM </h2>
  <h2> 300 SEK</h2>
  <%= button_to cart_path(@user) do %>
    <i type=“button” class=“btn btn-secondary”></i> Buy ticket
  <% end %>
</div>
